/*-------------------------------------------index------------------------------------------------------*/
*{
    box-sizing: border-box;
    background-color: antiquewhite;
}


.logo img{
    width: 300px;
    border-radius: 80%;
    

}
.nav{
    font-size: larger;

}

.logo{
    display: flex;
    justify-content: center;
    padding: 0%;
}

header{
     height: 300px; 
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;    
    padding: 0%;
    margin-left: 10px;
    margin-right: 10px;
  
}

ul li a{
    color: black;
    text-decoration: none;
    background-color: lightsalmon;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
   
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.h1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: bisque;
    border-radius: 3px;


}

.listarecetas{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    padding: 20px;
    
}

.search-container{
    display: flex;
    justify-content: end;
    margin: 10px;
}

.h1{
    display: flex;
    text-align: center;
    margin-top: 100px;
    background-color: lightsalmon;

}


footer{
  
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p{
    display: flex;
    align-self: flex-end;
}
/*------------------------------JS--Index---------------------------------------------------------------*/
.fotoReceta{
    width: 48%; 
    box-sizing: border-box; 
    max-width: 500px; 
    margin: 0 auto;
}
.fotojs{

    border-radius: 10%;
    border: 3px solid black;
    width: 100%; 
    height: auto; 
}

.platos{
    text-align: center; 
    margin-top: 10px;
}

.platoa{
    text-decoration: none;
    font-weight: bold;
}


.difcil {
    color: black;
    font-size: medium;
}

/*--------------------------------login-----------------------------------------------------------------*/



.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 190px;
    margin-top: 0%;
    padding: 0%;
    background-color: rgba(255, 160, 122, 0.267);
    width: 250px;
    margin:auto;
    border-radius: 5%;    
    border: 2px solid black;
}

.form input{
    background-color: rgba(255, 160, 122, 0.276);
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    
}

/*-------------------------------------- recetas -----------------------------------------------------------*/


#receta-titulo{
    padding-top: 10%;
    text-align: center;

}

#receta-imagen{
     display: block;     
        margin-left: auto;  
        margin-right: auto;   
        width: 500px;
        height: 500px;
        border: 3px solid black;
        border-radius: 10%;
    
}

#receta-instrucciones{

    padding-left:  20px;
    padding-right: 20px;

}

#receta-tiempo{

    padding-left:  20px;
    padding-right: 20px;
    

}






/*---------------------------------categories.html----------------------------------------------------------------*/

.categories_recetas{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}

/*---------------------------------------------categories.js---------------------------------------------------*/
.cate{
    margin: 10px 20px;

    

}
.categories_li{
    background-color: rgba(105, 105, 105, 0.292);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding:10px;
    display: block;
    width: 200px;
    border: 2px solid black;
    text-align: center;

}


/*--------------------------------------register---------------------------------------------------------*/
/* .formsRegistro{
    display: flex;
    margin-top: 400px;
.footer{
    margin-top: 300px;
}

/*--------------------------------------register -----------------------------------------------------------*/
.forming{
    margin-top: 50px;
 
}
.botoni{
    margin-top: 30px;
    margin-left: 590px;
}

/*---------------------------------------- Search---------------------------------------------------------*/

.recetas{

margin-top: 30px;
}

/*------------------------------
#detalles,js.
detalels.html

recetas.js 
resultadobusqueda
------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------
/*----------------------------------------------responsive------------------------------------------------*/

@media(max-width:480px){
    .h1{
        display: none;
    }
    .logo{
        display: none;
    }
    .nave{
        margin-top: 140px;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .nav{
        padding: 5px;
    }
    .search-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 52px;
    }
    .forming{
        margin-top:0%;
    }
    .calveti{
        height: 190px;
    }
}